* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'İnter', sans-serif;
}

#section {
    width: 100vw;
    height: 400px;
    margin-top: 60px;
    background-color: rgb(241, 232, 100);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 67px;
}

.img {
    background-image: url("../img/Rectangle\ 2.svg");
    width: 445px;
    height: 610px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    box-shadow: 18px 18px 6px #8795AF;
}

.main {
    display: flex;
    flex-direction: column;
    row-gap: 65px;
}

.main .height {}

.main .height .basliq {
    font-weight: 700;
    font-size: 49.6px;
    line-height: 60px;
    color: #CE2D64;
}

.main .height .orta {
    font-weight: 300;
    font-size: 31.4366px;
    line-height: 38px;
    color: #000000;
}

.main .son {
    font-weight: 200;
    font-size: 23.6056px;
    line-height: 29px;
    color: #000000;
}

.main .son .p1 {
    font-weight: 200;
}

.main .son .s1 {
    font-weight: 700;
}

#main2 {
    width: 100%;
    height: 500px;
    margin-top: 10em;
    background-color: #CE2D64;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    color: #000;
}

.bas {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.bas .photo {
    width: 92px;
    height: 122px;
}

.bas .texttt {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color:#000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bas .texttt .p {}

.bas .photo2 {
    width: 92px;
    height: 122px;
}

.metnn {
    font-style: italic;
    font-weight: 400;
    font-size: 23.6056px;
    line-height: 180.52%;
    text-align: center;
    color: #000;
}